# Export all names
# exportPattern(".")

export(params)
export(run)
export(contrast)
export(newEnv)
export(rcpp)

export(sim.vam)
export(model.vam)
export(mle.vam)
export(bayesian.vam)

S3method(simulate,sim.vam)
S3method(params,sim.vam)
S3method(plot,sim.vam)

S3method(plot,model.vam)
S3method(update,model.vam)
S3method(params,model.vam)
S3method(plot,model.vam)

S3method(params,mle.vam)
S3method(plot,mle.vam)
S3method(contrast,mle.vam)
S3method(formula,mle.vam)
S3method(update,mle.vam)
S3method(logLik,mle.vam)
S3method(run,mle.vam)
S3method(coef,mle.vam)

S3method(run,bayesian.vam)
S3method(plot,bayesian.vam)
S3method(coef,bayesian.vam)
S3method(hist,bayesian.vam)
S3method(summary,bayesian.vam)

export(Periodic.maintenance.policy)
export(AtTimes.maintenance.policy)
export(AtIntensity.maintenance.policy)
export(AtVirtualAge.maintenance.policy)
export(AtFailureProbability.maintenance.policy)

# export(mean.Beta.prior)
# export(sigma.Beta.prior)
# export(mean.Unif.prior)
# export(sigma.Unif.prior)
# export(mean.Gamma.prior)
# export(sigma.Gamma.prior)
# export(mean.Norm.prior)
# export(sigma.Norm.prior)
# export(mean.LNorm.prior)
# export(sigma.LNorm.prior)
# export(mean.NonInform.prior)
# export(sigma.NonInform.prior)
S3method(mean,Beta.prior)
S3method(sigma,Beta.prior)
S3method(mean,Unif.prior)
S3method(sigma,Unif.prior)
S3method(mean,Gamma.prior)
S3method(sigma,Gamma.prior)
S3method(mean,Norm.prior)
S3method(sigma,Norm.prior)
S3method(mean,LNorm.prior)
S3method(sigma,LNorm.prior)
S3method(mean,NonInform.prior)
S3method(sigma,NonInform.prior)

export(EndAt)
export(SizeGreaterThan)
export(SizeOfTypeGreaterThan)
export(AtCensorship)
export(TimeGreaterThanCensorship)
export(TimeGreaterThan)
S3method("|",stop.policy)
S3method("&",stop.policy)

import(Rcpp)

useDynLib(VAM)